[Desktop Entry]
Name=enoshima Desktop
Comment=enoshima desktop session managed by UWSM
Exec=uwsm start -e -D Hyprland -N "enoshima Desktop" -C "enoshima desktop session managed by UWSM" start-hyprland
TryExec=uwsm
Type=Application
