# Isolated compositor for Enoshima Auth. Do not source the user session here.
monitor = eDP-1,2880x1800@120,0x540,2
monitor = desc:Dell Inc. DELL U2725QE,3840x2160@120,1440x0,1.5
monitor = ,preferred,auto-right,auto

env = GTK_USE_PORTAL,0
env = GDK_DEBUG,no-portals
env = GDK_BACKEND,wayland
env = XCURSOR_THEME,capitaine-cursors
env = XCURSOR_SIZE,24

input {
    kb_layout = us
    kb_options = korean:ralt_hangul
}

cursor {
    hide_on_key_press = false
}

misc {
    disable_hyprland_logo = true
    disable_splash_rendering = true
    disable_hyprland_guiutils_check = true
    force_default_wallpaper = 0
}

bindl = , switch:on:Lid Switch, exec, /usr/local/lib/enoshima/greetd-session lid-closed
bindl = , switch:off:Lid Switch, exec, /usr/local/lib/enoshima/greetd-session lid-open

exec-once = /usr/local/lib/enoshima/greetd-session start
