[background]
path = "/etc/greetd/background-16x10.jpg"
fit = "Cover"

[env]
XCURSOR_THEME = "capitaine-cursors"
XCURSOR_SIZE = "24"

[GTK]
application_prefer_dark_theme = true
cursor_theme_name = "capitaine-cursors"
cursor_blink = true
font_name = "Pretendard 12"
icon_theme_name = "Papirus-Dark"
theme_name = "adw-gtk3-dark"

[commands]
reboot = ["systemctl", "reboot"]
poweroff = ["systemctl", "poweroff"]

[appearance]
greeting_msg = "ENOSHIMA // SESSION SIGN-IN"

[widget.clock]
format = "%A, %d %B %Y  %H:%M"
resolution = "30s"
label_width = 240
